
mixin skillsetItem(name, skillLevel)
    li.skillset__item
        h2.skillset__heading #{name}
        progress.skillset__indicator(max='100' value='#{skillLevel}')
        
mixin experienceItem(timestart, timeend, company, location, role, details)
    li.experience__item
        h2.experience__heading
            time.experience__timeend #{timeend}
            br
            time.experience__timestart #{timestart} 
        div.experience__description
            strong.experience__company #{company}, 
            span.experience__location #{location} 
            span.experience__role #{role}
            
            if (details)
                p.experience__details #{details}
                    
